@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: calc();
}

@font-face {
  font-family: "Iranyekan";
  src: url("../public/assets/Qs_Iranyekan medium.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Iranyekan";
  -webkit-font-smoothing: "Iranyekan";
  -moz-osx-font-smoothing: "Iranyekan";
}

.rtl {
  direction: rtl;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.footer-bg {
  background: #101f31;
}

.bg {
  background-color: #0a1728;
}
